body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

/* Container */
.content {
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

/* Sidebar */
.sidenav {
	height: 100%;
	width: 320px;
	padding-top: 20px;
	overflow-x: hidden;
}

.sidenav a, .sidenav p {
	color: white;
	margin: 0px;
	padding: 4px 8px 4px 16px;
	display: block;
}

.sidenav input[type=text] {
	background-color: #0005;
	display: block;
	padding-left: 20px;
	margin-bottom: 8px;
	border: 2px;
	width: 100%;
	height: 32px;
	font-size: 16px;
}

input[type=text]:focus {
	outline-style: none;
}

.sidenav img {
	vertical-align: middle;
	margin-right: 10px;
} 

/* Collapsible */
.collapsible {
	cursor: pointer;
	display: block;
}

.collapsible:hover {
	text-decoration: underline;
}

.collapsible-content {
	padding-left: 24px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

/* Links */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Page content */
.main {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	width: 100%;
	height: 100%;
	padding: 20px;
}

.main .topic {
	flex-grow: 1;
	border: none;
	margin: 0;
	padding: 0;
}